<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.v2a">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_v2a"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_v2a"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="content"
                    android:mimeType="text/*" />
            </intent-filter>
        </activity>

        <activity android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity android:name=".VideoActivity"
            android:label="Download Video"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".YoutubeActivity"
            android:label="YouTube Converter"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".TestActivity"
            android:label="V2A"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="www.youtube.com"
                    android:mimeType="text/*" />
            </intent-filter>
        </activity>

        <receiver android:name=".NotificationReciever"/>

        <service
            android:name=".YoutubeService"
            android:enabled="true" >

        </service>

        <provider
            android:name=".SongProvider"
            android:authorities="com.example.v2a.SongProvider"
            android:exported="false" />

        <provider
            android:name=".DownloadProvider"
            android:authorities="com.example.v2a.DownloadProvider"
            android:exported="false" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false"
            android:authorities="com.example.fileprovider">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>

        </provider>





    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>